body {
	margin: 0;
}
h1,h2,p {
	margin: 0;
}

#container {
	width: 100%;
	margin: 0 auto;
	background-color: yellow;
	#header {
		padding: 1em 0;
		width: 100%;
		margin: 0 auto;
		background-color: #ccc;
		#gnavi {
			background-color: orange;
			text-align:center;
			> div {
				display: inline-block;
			}
		}
	}
	#main-image {
			width: 100%;
			padding-bottom: 1em;
			img {
			width: 100%;
		}
	}
	#main-area {
		width: 95%;
		margin: 0 auto;
		background-color: green;
		#page-info {
			padding: 0.5em;
		}
		#content {
			padding: 0.5em;
			img {
				max-width: 210px;
				width: 100%;
			}
		}
	}
	#footer {
		width: 100%;
		background-color: red;
		margin-top: 1em;
		p {
			text-align: center;
			padding: 1em;
		}
	}
}
.clear {
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.mr20 {
	margin-right: 20px;
}