body {
	margin: 0;
}
h1 {
	margin: 0;
}
h2 {

}
p {

}
ul {
}

#container {
	width: 95%;
	margin: 0 auto;
	background-color: yellow;
	#header {
		width: 95%;
		margin: 0 auto;
		background-color: #ccc;
		#gnavi {
			background-color: orange;
		}
		#main-image {
			margin: 0 auto;
			text-align: center;
			width: 70%;
			padding-bottom: 1em;
			img {
				width: 100%;
			}
		}
	}
	#main-area {
		width: 95%;
		margin: 0 auto;
		background-color: green;
		#page-info {
			padding: 0.5em;
		}
		#content {
			padding: 0.5em;
			img {
				max-width: 210px;
				width: 100%;
			}
		}
	}
	#footer {
		background-color: red;
		p {
			text-align: center;
			padding: 1em;
		}
	}
}
.clear {
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.mr20 {
	margin-right: 20px;
}