body {
	margin: 0;
}
h1,h2,p {
	margin: 0;
}

h1 {
	text-align: center;
}
h2 {
	font-weight: normal;
	text-align: center;
}

#container {
	width: 100%;
	margin: 0 auto;
	background-color: yellow;
	#header {
		width: 100%;
		#gnavi {
			background-color: orange;
			text-align:center;
			> div {
				display: inline-block;
				ul {
					padding: 0 1em;
					li {
						display: inline-block;
						padding: 0 1em;
					}
				}
			}
			#logo {
				padding: 1em 0;
				img {
					max-width: 120px;
				}
			}
		}
	}
	#main-image {
			width: 100%;
			img {
			width: 100%;
		}
	}
	#main-area {
		width: 90%;
		padding: 1em;
		margin: 1em auto 0;
		background-color: green;
		#page-info {
			padding: 0.5em;
		}
		#content {
			padding: 0.5em;
			img {
				max-width: 210px;
				width: 100%;
			}
		}
	}
	#footer {
		width: 100%;
		background-color: red;
		margin-top: 1em;
		p {
			text-align: center;
			padding: 1em;
		}
	}
}