body {
  margin: 0; }

h1 {
  margin: 0; }

#container {
  width: 95%;
  margin: 0 auto;
  background-color: yellow; }
  #container #header {
    width: 95%;
    margin: 0 auto;
    background-color: #ccc; }
    #container #header #gnavi {
      background-color: orange; }
    #container #header #main-image {
      margin: 0 auto;
      text-align: center;
      width: 70%;
      padding-bottom: 1em; }
      #container #header #main-image img {
        width: 100%; }
  #container #main-area {
    width: 95%;
    margin: 0 auto;
    background-color: green; }
    #container #main-area #page-info {
      padding: 0.5em; }
    #container #main-area #content {
      padding: 0.5em; }
      #container #main-area #content img {
        max-width: 210px;
        width: 100%; }
  #container #footer {
    background-color: red; }
    #container #footer p {
      text-align: center;
      padding: 1em; }

.clear {
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

.mr20 {
  margin-right: 20px; }
