body {
  margin: 0; }

h1, h2, p {
  margin: 0; }

h1 {
  text-align: center; }

h2 {
  font-weight: normal;
  text-align: center; }

#container {
  width: 100%;
  margin: 0 auto;
  background-color: yellow; }
  #container #header {
    width: 100%; }
    #container #header #gnavi {
      background-color: orange;
      text-align: center; }
      #container #header #gnavi > div {
        display: inline-block; }
        #container #header #gnavi > div ul {
          padding: 0 1em; }
          #container #header #gnavi > div ul li {
            display: inline-block;
            padding: 0 1em; }
      #container #header #gnavi #logo {
        padding: 1em 0; }
        #container #header #gnavi #logo img {
          max-width: 120px; }
  #container #main-image {
    width: 100%;
    padding-bottom: 1em; }
    #container #main-image img {
      width: 100%; }
  #container #main-area {
    width: 90%;
    padding: 1em;
    margin: 0 auto;
    background-color: green; }
    #container #main-area #page-info {
      padding: 0.5em; }
    #container #main-area #content {
      padding: 0.5em; }
      #container #main-area #content img {
        max-width: 210px;
        width: 100%; }
  #container #footer {
    width: 100%;
    background-color: red;
    margin-top: 1em; }
    #container #footer p {
      text-align: center;
      padding: 1em; }

.clear {
  clear: both; }

.fl {
  float: left; }

.fr {
  float: right; }

.mr20 {
  margin-right: 20px; }
